*{
  box-sizing:border-box
}
#nav {
  background-color: #0088A8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;/*layer*/
}
#content{
  position: relative;
  left: -20px;
  top: 58px;
  padding: 30px;
}
.container{
  padding-top: 10px
  width:800px;
  margin: auto;
}
#content > .container > div {
  padding: 50px 0;
}
/* 在內容區域的中間加上水平線 */

<hr class="bar">

/* 水平線的樣式 */

hr.bar {
  width: 180px;
}
#about,#my-work,#contact-me{
}
.menu li {
  display: inline-block;

  width: 150px;
  padding: 10px 0px;

  border: 1px solid blue;
  border-radius: 8px;

  list-style-type: none;
  text-align: center;
  background-color: #009FCC;
  color: #fff;
}
a {
  display: block;
  color: #fff;
  text-decoration: none;
}

li:hover {
  background-color: #888888;
}

li:hover a {
  color: #ff6600;
  font-weight: 800;
}
/* about me */

#my-avatar {
  /* 標示用，排版完記得拿掉 */
  float: left;
}
#my-avatar img {
  padding-right:20px

}
h1 {
  margin-bottom: 0;
}

h3 {
  margin: 0;
}

table {
  margin-bottom: inherit;
  font-size: 20px;
  text-align: left;
}

th, td {
  vertical-align: top;
}

td {
  color: #666;
  padding-left: 10px;
}

hr {
  border: 0.5px solid #eee;
}
/* my work */

.item {

  max-width: 30%;
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
}

.item-info {
  background-color: rgba(255,255,255,.8);   /* 背景半透明 */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  text-align: center;
  padding: 25px 10px;
  display: none;
  /*opacity: 0;*/
}
.item img{
  width: 100%;
}
.item:hover .item-info{
  display: block;
}
/*.item-info:hover{
   opacity: 1;
}*/
#contact-me {
}

form.contact-form {
  width: 50%;
  margin: 0 auto;
}
.form-row {
  margin-bottom: 15px;
}


.form-row input, .form-row textarea {
  border-radius: 3px;
  width: 100%;
  padding: 7px;
}

.form-row textarea {
  resize: none;
  height: 4em;
}
.form-row button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.form-row button[type="sumbit"] {
  background-color: #5995DA;
  color: #FFFFFF;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}
/*讓 .menu 的按鈕靠右*/
.menu {
  float: center;
}
/*讓 h1 元素置中：*/
h1 {
  text-align: center;
}

#about h1 {
  margin-bottom: 0;
  text-align: left;
}
/*讓 #my-work 圖片置中：*/
#my-work-gallery {
    text-align: center;
}
/*
定義手機與網頁版範圍
  */
@media screen and (min-width: 1024px) {
  .menu-button,
  .menu-button-checkbox {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
/*取消原本不會超過父層寬度30%的設定*/
  .item {
    max-width: 100%;
  }
  /*form.contact-form 原本寬度設定為 50%，在電腦版的大螢幕上尺寸還滿適合的，但跑到小螢幕上就顯得有點擠。改成80％*/
  form.contact-form {
    width: 80%;
  }
  /*
    手機版的 css 都寫在這邊
  */
.container{
  width:auto;
}
.menu-button{
  float:right;
  font-size: 25px;
  line-height: 40px;
  color: white;
  background: transparent;
  padding: 0 15px
  border:0;
}
/*
  讓menu-button-checkbox根上面.menu-button的大小一樣
*/
.menu-button-checkbox {
    position: fixed;
    top: 0;
    right: 0;
    width: 55px;
    height: 40px;
    /*
      把 checkbox 變透明
    */
    opacity: 0;
  }
  /*
    當 .menu-button-checkbox 狀態為 checked 時，選擇在同階層後面的 .menu 元素
  */
  .menu-button-checkbox:checked ~ .menu {
    display: block;
  }
/*
  把 ul.menu 排到右半邊去，並美化一下
*/
.menu{
  /*
   預設不顯示，當 .menu-button-checkbox 狀態為 checked 時，顯示
  */
  display: none;
  margin-top:0;
  padding-left:0;
  position:fixed;
  right:0;
  top:40px;
  width:150px;
  height:100%;
  background:red;
}
.menu li{
  border: 0;
  border-radius:0;
}
/* 讓父層容器 #my-avatar 的寬度變成 100%，以免下方文字擠上來；同時將圖片置中處理，並多留一些上下間距。*/
#my-avatar{
  width:100%;
}
#my-avatar img {
  display: block;
  margin: 15px auto;
}
}
